{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title light-title disable-select">Estudantes</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'estudantes' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>
                
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Incluir</h2>
                {% include '_partials/_alertas.html' %}
                <form action="{% url 'estudantes_incluir' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-section">
                        <h3 class="light-title">Dados básicos</h3>
                        <div class="input-unit">
                            <label for="matrícula">Matrícula <span>*</span></label>
                            <input type="text" name="matrícula" id="matrícula" required pattern="RA[0-9]{8}" title='A matrícula deve conter "RA" + 8 dígitos' size="10">
                        </div>
                        <div class="input-unit">
                            <label for="nome">Nome <span>*</span></label>
                            <input type="text" name="nome" id="nome" required size="35">
                        </div>
                        <div class="input-unit">
                            <label for="idade">Idade <span>*</span></label>
                            <input type="text" name="idade" id="idade" required size="2">
                        </div>
                        <div class="input-unit">
                            <label for="renda">Renda <span>*</span></label>
                            <input type="text" name="renda" id="renda" required pattern="[0-9]{0,3}.?[0-9]{1,3},[0-9]{2}" size="14">
                        </div>
                        <div class="input-unit">
                            <label for="cor">Cor <span>*</span></label>
                            <select name="cor" required>
                                <option value="BRA">Branca</option>
                                <option value="PRE">Preta</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="sexo">Gênero <span>*</span></label>
                            <select name="sexo" required>
                                <option value="MAS">Homem</option>
                                <option value="FEM">Mulher</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="escola">Escola <span>*</span></label>
                            <select name="escola" required>
                                <option value="PRI">Privada</option>
                                <option value="PUB">Pública</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-section">
                        <h3 class="light-title">Dados do curso</h3>
                        <div class="input-unit">
                            <label for="curso">Curso <span>*</span></label>
                            <select name="curso" required>
                                <option value="1">Ciência de Dados</option>
                                <option value="2">Direito</option>
                                <option value="3">Medicina</option>
                                <option value="4">História</option>
                                <option value="5">Administração</option>
                                <option value="6">Engenharia Biomédica</option>
                                <option value="7">Design</option>
                                <option value="8">Ciência da Computação</option>
                                <option value="9">Filosofia</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="ano_curso">Ano de curso <span>*</span></label>
                            <input type="text" name="ano_curso" id="ano_curso" required size="3">
                        </div>
                        <div class="input-unit">
                            <label for="motivação">Motivação <span>*</span></label>
                            <input type="text" name="motivação" id="motivação" required size="2">
                        </div>
                    </div>
                    <div class="form-section">
                        <h3 class="light-title">Endereço</h3>
                        <div class="input-unit">
                            <label for="cep">CEP <span>*</span></label>
                            <input type="text" name="cep" id="cep" required pattern="[0-9]{5}-[0-9]{3}" size="9">
                        </div>
                        <div class="input-unit">
                            <label for="logradouro">Logradouro <span>*</span></label>
                            <input type="text" name="logradouro" id="logradouro" required size="30">
                        </div>
                        <div class="input-unit">
                            <label for="numero">Número <span>*</span></label>
                            <input type="text" name="numero" id="numero" required pattern="[0-9]{1,5}" title="Digite apenas números" size="5">
                        </div>
                        <div class="input-unit">
                            <label for="bairro">Bairro <span>*</span></label>
                            <input type="text" name="bairro" id="bairro" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="cidade">Cidade <span>*</span></label>
                            <input type="text" name="cidade" id="cidade" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="uf">UF <span>*</span></label>
                            <input type="text" name="uf" id="uf" required size="2">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}