{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title light-title disable-select">Notebooks</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'notebooks' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>
                
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Incluir</h2>
                {% include '_partials/_alertas.html' %}
                <form action="{% url 'notebooks_incluir' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-section">
                        <h3 class="light-title">Dados</h3>
                        <div class="input-unit">
                            <label for="id_notebook">ID <span>*</span></label>
                            <input type="text" name="id_notebook" id="id_notebook" required pattern="[0-9]{1,3}" size="3">
                        </div>
                        <div class="input-unit">
                            <label for="marca">Marca <span>*</span></label>
                            <input type="text" name="marca" id="marca" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="modelo">Modelo <span>*</span></label>
                            <input type="text" name="modelo" id="modelo" required size="35">
                        </div>
                        <div class="input-unit">
                            <label for="preco">Preço <span>*</span></label>
                            <input type="text" name="preco" id="preco" required pattern="[0-9]{0,2}.?[0-9]{1,3},?[0-9]{2}?" size="9">
                        </div>
                        <br>
                        <div class="input-unit">
                            <label for="especificacoes_tecnicas">Especificações técnicas <span>*</span></label>
                            <textarea name="especificacoes_tecnicas" id="especificacoes_tecnicas" required cols="70" rows="5" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}