{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title light-title disable-select">Pessoas - Estudantes</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'pessoas_estudantes' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>
                
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Incluir</h2>
                {% include '_partials/_alertas.html' %}
                <form action="{% url 'pessoas_estudantes_incluir' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-section">
                        <h3 class="light-title">Dados básicos</h3>
                        <div class="input-unit">
                            <label for="registration-number">Matrícula</label>
                            <input type="text" name="registration-number" id="registration-number" pattern="[0-9]{5}" title="A matrícula deve conter 5 dígitos" size="5">
                        </div>
                        <div class="input-unit">
                            <label for="name">Nome completo <span>*</span></label>
                            <input type="text" name="name" id="name" required size="35">
                        </div>
                        <div class="input-unit">
                            <label for="birthdate">Data de nascimento <span>*</span></label>
                            <input type="date" name="birthdate" id="birthdate" required>
                        </div>
                        <div class="input-unit">
                            <label for="cpf">CPF <span>*</span></label>
                            <input type="text" name="cpf" id="cpf" required pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" size="14">
                        </div>
                        <div class="input-unit">
                            <label for="rg">RG <span>*</span></label>
                            <input type="text" name="rg" id="rg" required pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}" size="12">
                        </div>
                        <div class="input-unit">
                            <label for="cellphone-number">Telefone celular <span>*</span></label>
                            <input type="text" name="cellphone-number" id="cellphone-number" class="telephone" required pattern="[0-9]{2}\s[0-9]{4,5}\s[0-9]{4}" size="13">
                        </div>
                        <div class="input-unit">
                            <label for="phone-number">Telefone fixo</label>
                            <input type="text" name="phone-number" id="phone-number" class="telephone" pattern="[0-9]{2}\s[0-9]{4,5}\s[0-9]{4}" size="13">
                        </div>
                        <div class="input-unit">
                            <label for="email">E-mail <span>*</span></label>
                            <input type="email" name="email" id="email" required size="30">
                        </div>
                        <div class="input-unit">
                            <label for="gender">Gênero <span>*</span></label>
                            <select name="gender" required>
                                <option value="Homem">Homem</option>
                                <option value="Mulher">Mulher</option>
                                <option value="Não-binário">Não-binário</option>
                                <option value="Agênero">Agênero</option>
                                <option value="Outro">Outro</option>
                                <option value="Prefere não responder" selected>Prefere não responder</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="color">Cor <span>*</span></label>
                            <select name="color" required>
                                <option value="Branca">Branca</option>
                                <option value="Preta">Preta</option>
                                <option value="Parda">Parda</option>
                                <option value="Amarela">Amarela</option>
                                <option value="Indígena">Indígena</option>
                                <option value="Prefere não responder" selected>Prefere não responder</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="marital-status">Estado civil <span>*</span></label>
                            <select name="marital-status" required>
                                <option value="Solteiro(a)">Solteiro(a)</option>
                                <option value="Casado(a)">Casado(a)/Mora com companheiro(a)</option>
                                <option value="Divorciado(a)">Divorciado(a)/Separado(a)</option>
                                <option value="Viúvo(a)">Viúvo(a)</option>
                                <option value="Prefere não responder" selected>Prefere não responder</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="occupation">Profissão <span>*</span></label>
                            <input type="occupation" name="occupation" id="occupation" required size="30">
                        </div>
                        <div class="input-unit">
                            <label for="nationality">Nacionalidade <span>*</span></label>
                            <input type="nationality" name="nationality" id="nationality" required size="30">
                        </div>
                        <div class="input-unit">
                            <label for="photo">Foto</label>
                            <input type="file" name="photo" id="photo" accept="image/*">
                        </div>
                    </div>
                    <div class="form-section">
                        <h3 class="light-title">Endereço</h3>
                        <div class="input-unit">
                            <label for="postal-code">CEP <span>*</span></label>
                            <input type="text" name="postal-code" id="postal-code" required pattern="[0-9]{5}-[0-9]{3}" size="9">
                        </div>
                        <div class="input-unit">
                            <label for="address-street">Lougradouro <span>*</span></label>
                            <input type="text" name="address-street" id="address-street" required size="30">
                        </div>
                        <div class="input-unit">
                            <label for="address-number">Número <span>*</span></label>
                            <input type="text" name="address-number" id="address-number" required pattern="[0-9]{1,5}" title="Digite apenas números" size="5">
                        </div>
                        <div class="input-unit">
                            <label for="address-complements">Complemento</label>
                            <input type="text" name="address-complements" id="address-complements" size="10">
                        </div>
                        <div class="input-unit">
                            <label for="address-neighborhood">Bairro <span>*</span></label>
                            <input type="text" name="address-neighborhood" id="address-neighborhood" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="address-city">Cidade <span>*</span></label>
                            <input type="text" name="address-city" id="address-city" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="address-state">Estado <span>*</span></label>
                            <input type="text" name="address-state" id="address-state" required size="20">
                        </div>
                        <div class="input-unit">
                            <label for="address-country">País <span>*</span></label>
                            <input type="text" name="address-country" id="address-country" required size="20">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}