{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title light-title disable-select">Notebooks</h1>
                </div>
                <div class="page-actions">
                    <a class="body-black-text page-actions-pesquisar disable-select"><img src="{% static 'files/search_icon.png' %}" alt="Pesquisar"></a>
                    <a href="{% url 'notebooks_incluir' %}" class="body-black-text page-actions-incluir disable-select">Incluir</a>
                </div>

                {% include '_partials/_pesquisar.html' %}
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                {% if notebooks %}
                <h2 class="title disable-select">Lista</h2>
                {% include '_partials/_alertas.html' %}
                <table class="list-db-items">
                    <thead>
                        <tr>
                            <th class="light-subtitle disable-select">ID</th>
                            <th class="light-subtitle disable-select">Marca - Modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if notebooks %}
                        {% for notebook in notebooks %}
                        <tr class="clickable-tr disable-select">
                            <input type="hidden" class="choose-menu-id" value="{{ notebook.id }}">
                            <td>{{ notebook.id }}</td>
                            <td><a href="{{ notebook.id }}">{{ notebook.marca }} - {{ notebook.modelo }}</a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </main>
{% endblock %}